<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meeting</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
        <div class="container">
            <h5>Hello <span class="labelUserName" id="username"><%= username %></span>, Room meeting ID: <span class="labelUserName" id="meetID"><%= meetid %></span></h5>
            <div id="video-container"></div>
        </div>
        <style>
            video {
                width: 250px;
                border-radius: 10px;
                margin: 5px;
            }
            #video-container {
                display: flex;
                flex-wrap: wrap;
            }
        </style>
        <script src="/bundle_meeting.js"></script>
    </body>
</html>
